<table class="mat-elevation-z8">
	<thead>
		<tr>
			<th>No.
				<i class="material-icons" style="color: #3f51b5;cursor: pointer;" (click)="add()">
						queue
				</i>
			</th>
			<th>Customer Name</th>
			<th>Address</th>
			<th>Product</th>
			<th>Quantity-Unit</th>
			<th>Adjusted</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let element of dataSource">
			<tr>
				<td [attr.rowspan]="element.orderItems.length">{{element.position}}</td>
				<td [attr.rowspan]="element.orderItems.length" width="20%">
					<tx-inputable [label]="element.customer.customerName"
						[id]="element.position">
					</tx-inputable>
				</td>
				<td [attr.rowspan]="element.orderItems.length">{{element.customer.address}}</td>
				<td>{{element.orderItems[0].product.productName}}</td>
				<td>{{element.orderItems[0].quantity}} {{element.orderItems[0].product.unit.catalogName}}</td>
				<td>{{element.orderItems[0].adjusted}}</td>
			</tr>
			<ng-container *ngFor="let orderItem of element.orderItems; let i = index">
				<tr *ngIf="i > 0">
					<td>{{orderItem.product.productName}}</td>
					<td>{{orderItem.quantity}} {{orderItem.product.unit.catalogName}}</td>
					<td>{{orderItem.adjusted}}</td>
				</tr>
			</ng-container>
		</ng-container>
	</tbody>
</table>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator>
