<button mat-stroked-button style="margin: 8px;" color="primary" (click)="openAdd()">
	Add
</button>
<table class="mat-elevation-z8">
	<thead>
		<tr>
			<th>No.
			</th>
			<th>Date</th>
			<th width="10%">Customer Name</th>
			<th width="20%">Address</th>
			<th>Product</th>
			<th width="50px">Quantity</th>
			<th width="50px" class="text-number">Price</th>
			<th width="50px" class="text-number">Item Total</th>
			<th width="50px" class="text-number">Adjusted</th>
			<th width="50px" class="text-number">Net Item Total</th>
			<th width="50px" class="text-number">Net Total</th>
			<th>Invoice Status</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let element of dataSource">
			<tr>
				<td [attr.rowspan]="element.orderItems.length">{{element.position}}</td>
				<td [attr.rowspan]="element.orderItems.length">{{element.orderDate | date: 'yyyy-MM-dd'}}</td>
				<td [attr.rowspan]="element.orderItems.length" width="10%">
					<a class="link" (click)="edit()">{{element.customer.customerName}}</a>
				</td>
				<td [attr.rowspan]="element.orderItems.length" width="20%">{{element.customer.address}}</td>
				<td>{{element.orderItems[0].product.productName}}</td>
				<td width="50px">{{element.orderItems[0].quantity}} {{element.orderItems[0].product.unit.catalogName}}</td>
				<td width="50px" class="text-number">{{element.orderItems[0].product.price}}</td>
				<td width="50px" class="text-number">{{element.orderItems[0].product.price * element.orderItems[0].quantity}}</td>
				<td width="50px" class="text-number">{{element.orderItems[0].adjusted}}</td>
				<td width="50px" class="text-number">{{element.orderItems[0].product.price * element.orderItems[0].quantity - element.orderItems[0].adjusted}}</td>
				<td width="50px" [attr.rowspan]="element.orderItems.length" class="text-number">{{element.total}}</td>
				<td [attr.rowspan]="element.orderItems.length">{{element.invoiceStatus > 0 ? 'Done': ''}}</td>
				<td [attr.rowspan]="element.orderItems.length">{{element.note}}</td>
			</tr>
			<ng-container *ngFor="let orderItem of element.orderItems; let i = index">
				<tr *ngIf="i > 0">
					<td>{{orderItem.product.productName}}</td>
					<td width="50px">{{orderItem.quantity}} {{orderItem.product.unit.catalogName}}</td>
					<td width="50px" class="text-number">{{orderItem.product.price}}</td>
					<td width="50px" class="text-number">{{orderItem.product.price * orderItem.quantity}}</td>
					<td width="50px" class="text-number">{{orderItem.adjusted}}</td>
					<td width="50px" class="text-number">{{orderItem.product.price * orderItem.quantity - orderItem.adjusted}}</td>
				</tr>
			</ng-container>
		</ng-container>
	</tbody>
</table>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator>
