h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.login-container {
    height: 100%;
    position: relative;
}

.login-vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.login-token {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row {
    height: 45px;
}

.mat-toolbar {
    font-size: 14px;
}

.mat-toolbar-multiple-rows {
    min-height: inherit;
}

.more_vert {
    margin-top: 8px;
}