.customer-selector {
    position: relative;
}

.customer-selector ul {
    position: absolute;
    background: white;
    top: 50px;
    z-index: 99;
    margin: 0;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.customer-selector li {
    margin: 0;
    padding: 10px;
    color: #8c8080;
    font-size: 10pt;
}

.customer-selector li:hover {
    background: #f7f5f5;
}

mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.text-number {
    text-align: right
}

mat-form-field.mat-form-field {
    font-size: 12pt;
}

.pl-8 {
    padding-left: 8px;
}

.add-task-footer {
    margin-top: 20px;
    float: right;
}

.add-task-footer button {
    margin-left: 8px;
}

.change-adjusted {
    width: 50px;
    text-align: right;
}

.w-85 {
    width: 120px;
}

.mt-2 {
    margin-top: 20px;
}

.mat-card {
    width: 46%;
    margin-bottom: 12px;
    margin-right: 14px;
    float: left;
    cursor: pointer;
}

.ship-selected {
    border: 1px solid cornflowerblue;
}

.ship-ico {
    font-size: 14px;
}

.mat-card-header .mat-card-title {
    font-size: 14px;
}

.customer .mat-form-field-flex {
    border-bottom: solid 1px gray !important;
}